.Version {
  background-color: $green;
  padding: $gutter;
  color: $white;
  font-weight: $t-bold;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 0;
  right: 0;
  width: 100px;
  height: 100px;
  z-index: 1000;

  &.--available {
    background-color: $orange;
  }
}