@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Roboto+Condensed:wght@700&display=swap");

$gutter: 0.9375rem;
$gutter-2: calc($gutter * 2);
$gutter-3: calc($gutter * 3);
$gutter-4: calc($gutter * 4);
$gutter-5: calc($gutter * 5);
$gutter-6: calc($gutter * 6);
$gutter-d1: calc($gutter * 0.75);
$gutter-d2: calc($gutter / 2);
$gutter-d4: calc($gutter / 4);

$frame-height: 2rem;

$primary: #5f5fff;
$secondary: #1b1b1b;
$tertiary: #3081a1;
$white: #f8f8ff;
$glassmorphism: linear-gradient(101deg, #00B8FF40 -15%, #D600FF40 120%);

$t-1: 64px;
$t-2: 48px;
$t-3: 36px;
$t-4: 24px;
$t-5: 18px;
$t-6: 14px;
$t-reg: 400;
$t-bold: 700;
$t-black: 900;
$arial: "Roboto Condensed", arial;
$handwriting: "Caveat", cursive;