.Navigation {
  background: darken($secondary, 10%);
  padding: $gutter-d1;

  &__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $gutter-d1;
    height: 100%;
    width: 100%;
    margin: 0;

    &__item {
      cursor: pointer;
      color: $white;
      padding: $gutter-d4;
      display: flex;
      align-items: center;
      border-radius: 4px;

      &:hover {
        background: lighten($secondary, 10%);
        color: $primary;
      }

      &__icon {
        font-size: $t-4;
      }

      &.--active {
        background: lighten($secondary, 10%);
        color: $primary;
      }
    }
  }
}