.Audio {
  display: flex;
  flex-direction: column;
  gap: $gutter-2;
  width: 100%;
  height: 100%;

  h4 {
    margin-bottom: $gutter;
  }

  &__devices {
    &__wrapper {
      display: flex;
      gap: $gutter-2;
    }
  }

  &__recording {
    &__level {
      display: flex;
      gap: $gutter-d4;

      &__bar {
        background-color: $white;
        height: 1rem;
        width: .5rem;
        border-radius: 3px;

        &.--active {
          background-color: $primary;
        }
      }
    }
  }
}