.Navigation {
  height: 100%;
  background: darken($secondary, 10%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $gutter-2;
  padding: $gutter;

  &__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $gutter;
    flex: 2;

    &__item {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $secondary;
      border-radius: 50%;
      line-height: 0.9;
      width: 3rem;
      height: 3rem;
      cursor: pointer;

      &.--quit {
        color: red;
      }

      &:hover {
        background-color: color
      }
    }
  }
}