.SelectInput {
  display: flex;
  flex-direction: column;

  label {
    text-transform: uppercase;
    font-size: 0.75rem;
    margin-bottom: 0.25rem;
  }

  select {
    padding: 0.5rem;
    border-radius: 0.25rem;
    border: 1px solid $primary;
    background-color: var(--color-gray-100);
    color: var(--color-gray-900);
    font-size: 1rem;
    font-family: inherit;
    outline: none;
    transition: border-color 0.2s ease-in-out;

    &:focus {
      border-color: darken($primary, 10%);
    }
  }

  option {
    padding: 0.5rem;
    border-radius: 0.25rem;
    border: 1px solid $primary;
    background-color: darken($secondary, 10%);
    color: var(--color-gray-900);
    font-size: 1rem;
    font-family: inherit;
    outline: none;
    transition: border-color 0.2s ease-in-out;

    &:focus {
      border-color: darken($primary, 10%);
    }

    &:hover {
      background-color: darken($secondary, 20%);
    }
  }
}