.Frame {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $gutter-d4 $gutter;
  background-color: darken($primary, 10%);
  -webkit-app-region: drag;
  font-weight: $t-reg;
  min-height: 4.5vh;

  &__container {
    display: flex;
    gap: $gutter-2;
    align-items: center;

    &__title {
      font-size: $t-6;
    }
  }

  &__actions {
    display: flex;
    gap: $gutter;
    -webkit-app-region: no-drag;
    align-items: center;

    &__action {
      font-size: $t-4;
      border: none;
      background-color: transparent;
      color: $white;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}