.Version {
  background-color: $green;
  padding: $gutter-d2;
  color: $white;
  font-size: $t-6;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: $gutter-d2;
  border-radius: 10px;
  -webkit-app-region: no-drag;

  &__version {
    font-size: $t-5;
  }

  &__action {
    font-size: $t-6;
    border: 1px solid $white;
    border-radius: 50%;
    padding: $gutter-d4;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &.--available {
    background-color: $orange;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
      background-color: darken($orange, 10%);
    }
  }
}