.Version {
  background-color: $green;
  padding: $gutter;
  color: $white;
  font-weight: $t-bold;
  display: flex;
  justify-content: space-between;
  border-radius: $gutter;

  &.--available {
    background-color: $orange;
  }
}